.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
.text-primary{
    color: #ff900e;
}

/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
main{
    width: 100%;
    margin: 0 auto;
}

main > section{
    margin-top: 10px;
}
/* navbar style */
.navbar{
    justify-content: space-around;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar, .banner{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

}

/* banner style */
.banner-content{
    width: 850px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 950px;
    padding: 45px 150px;
    border-radius: 8px;
}
/* team and feature related style */
.teams{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    
}
.team-img-container img{
    height: 300px;
}
#our-features{
    margin-top: 190px;
    width: 530px;
    height: 400px;

}
#our-features > button{
    text-align: left;
    width: 200px;
    text-align: center;
}

#quick-list{
    font-weight: 500;
}

/* features section related style */
.features{
    gap: 140px;
    margin: 80px 30px;
}

#feature-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}

/* some facts related style */
.some-facts{
    padding: 0px 40px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-description{
    max-width: 540px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsor related style */
.sponsor-info{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
    padding: 20px 20px;
}
/* footer style */
footer{
    background-color: #FFF4E7;
    height: 70px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .features,
    .teams{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container,
    .sponsor-companies
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .our-features{
        margin-left: 20px;
    }
    .team-img-container{
        margin: 0 auto;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .banner-img{
        padding:  0;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsor-companies,
    .facts-container
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
